table 
{
border: 2px solid #0A2A0A;
background-color: #58FAAC;
}

input[type=text], input[type=password]
{
width: 100%;
padding: 8px 20px;
border: 2px solid #ccc;
box-sizing: border-box;
}

img
{
width: 140px;
height: 140px;
}

label
{
font-size: 14px;
font-weight: bold;
font-family: arial;
}

input[type=submit]
{

background-color: #088A08;
color:white;
padding: 8px 10px;
margin: 8px 0px;
border: solid;
cursor: pointer;
width: 40%;
}