table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: 'arial';
	width: 100%;
}

table th{
	text-align: left;
	padding: 1%;
	background: #343a40;
	color: #FFF;
}

table tr:nth-child(odd){
	background: #FFF;
}

table td{
	padding: 1%;
}

body{
	background: #ffcc80;
}

footer {
	width: 100%;
    position: fixed;
    bottom: 0;;
}